<h1 class="main-title">Contact</h1>
<p>You can find me on the network in a socialogy world ! or email <a href="mailto:naufal@akafuri.com">naufal@akafuri.com</a></p>
<div class="social-box">
    <a href="http://telegram.me/engga_enak" target="_blank">Telegram</a>
</div>
<div class="social-box">
    <a href="https://id.linkedin.com/in/pedox" target="_blank">LinkedIn</a>
</div>
<div class="social-box">
    <a href="http://instagram.com/engga_enak" target="_blank">Instagram</a>
</div>
<div class="social-box">
    <a href="http://twitter.com/pedox_" target="_blank">Twitter</a>
</div>
<div class="social-box">
    <a href="http://codepen.io/pedox" target="_blank">Codepen</a>
</div>
<div class="social-box">
    <a href="http://soundcloud.com/engga_enak" target="_blank">SoundCloud</a>
</div>
