<h1 class="main-title">What can i do ?</h1>
<p>Here a little bit can i do</p>

<div class="row">
    <div class="col-md-6">
        <ul class="skill">
            <li>
                <div class="name">HTML5</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 95%;"></div>
                </div>
            </li>
            <li>
                <div class="name">CSS3</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 93%;"></div>
                </div>
            </li>
            <li>
                <div class="name">PHP</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 80%;"></div>
                </div>
            </li>
            <li>
                <div class="name">Laravel</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 84%;"></div>
                </div>
            </li>
            <li>
                <div class="name">Codeigniter</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 89%;"></div>
                </div>
            </li>
            <li>
                <div class="name">Javascript</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 80%;"></div>
                </div>
            </li>
            <li>
                <div class="name">SASS</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 70%;"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="skill">
            <li>
                <div class="name">AngularJS</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 85%;"></div>
                </div>
            </li>
            <li>
                <div class="name">Photoshop</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 95%;"></div>
                </div>
            </li>
            <li>
                <div class="name">Node</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 85%;"></div>
                </div>
            </li>
            <li>
                <div class="name">PSD 2 HTML</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 95%;"></div>
                </div>
            </li>
            <li>
                <div class="name">Java</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 60%;"></div>
                </div>
            </li>
            <li>
                <div class="name">Cordova</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 75%;"></div>
                </div>
            </li>
            <li>
                <div class="name">Ionicframework</div>
                <div class="progress">
                    <div class="progress-bar" style="width: 85%;"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
