<h1 class="main-title">About Me</h1>
<p>Hello, Please welcome, my name is <strong>Naufal</strong> some people called me <strong>Fadhil</strong>, and the missed one called me <strong>Val</strong> I am Junior Programmer, have experience on Web developer since 2009, at 2009 i only have to HTML standars and CSS, and afther the world has got new era, i mastered a few language like OOP (PHP), Ruby and Javascript</p>
<p>2014 is bad year, where i was lost her, but Spirit Carries On, even if it hurts</p>
<p>My Favorite Band is Dream Theater and Liquid Tension Experiments, Rush, or any Progressive Sound, alternate i like old school songs like Ebiet G Ade, Koes Plus and anything. and other my Hobbies i pick Guitar for music.</p>
