<h1 class="main-title">Works !</h1>
<p>Currently im working on <strong>Wamplo</strong>, and side project on <strong>Akafuri25</strong> formerly known as Akafuri Studio and 25tudio</p>

<div class="works clearfix">
    <a href="https://play.google.com/store/apps/details?id=com.akafuri25.pedox.binusmayaminiv2" target="_blank"><div class="col-2 with-bg" style="background-image: url(img/portfolio-7.jpg)"></div></a>
    <a href="http://haeman.tikung.in" target="_blank"><div class="col-2 with-bg" style="background-image: url(img/portfolio-2.png)"></div></a>
    <a href="http://s.id/" target="_blank"><div class="col-2 with-bg" style="background-image: url(img/portfolio-1.png)"></div></a>
    <a href="http://startupbisnis.net" target="_blank"><div class="col-2 with-bg" style="background-image: url(img/portfolio-5.jpg)"></div></a>
</div>
